@import '_cdn.scss';
@import '_mixins.scss';
@import '_variables.scss';


footer {
    background-color: $footer-bg-color;
    padding-top: 71.14px;
    font-family: $font-family;
}
.footer-items {
    @include wrapper;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 320px) {
        display: block;
    }

}
.footer-item {
    text-align: center;
    max-width: 370px;
    @media only screen and (max-width: 320px) {
        margin-top: 69px;
    }
}
.footer-title {
    font-weight: $fw-bold;
    font-size: $fz-18;
    color: $white-color;
    @media only screen and (max-width: 1024px) {
        font-size: $fz-14;    
    }
    
}
.footer-description {
    margin-top: 29px;
    font-weight: $fw-regular;
    font-size: $fz-18;
    color: $white-color;
    @media only screen and (max-width: 1024px) {
        font-size: $fz-14; 
        
    }
   
}
.footer-social {
    margin-top: 48px;
}
.footer-copyright {
    @include flex;
    text-align: center;
    padding: 24px 0;
    margin-top: 71px;
    font-weight: $fw-regular;
    font-size: $fz-18;
    color: $footer-font-color;
    background-color: $footer-line-color;
    @media only screen and (max-width: 1024px) {
        font-size: $fz-14; 
    }
   
}
.footer-copyright p{ 
    max-width: 370px;
}
.footer-copyright a{ 
    color: $white-color;
}
