@import '_cdn.scss';
@import '_mixins.scss';
@import '_variables.scss';

.work-cards {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(1, 340px);
    overflow: hidden;
    grid-gap: 2px;
    @media only screen and (max-width: 1024px) {
        grid-template-rows: repeat(1, 230px);
    }
    @media only screen and (max-width: 320px) {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4, 144px);
    }
}
.work-card__content {
    position: absolute;
    width: 25%;
    height: 340px;
    @include flex;
    flex-direction: column;
    background-color: #ff4343b8;
    opacity: 0;
    transition: all .5s ease;
    overflow: hidden;
    &:hover {
        opacity: 1;
    }
    @media only screen and (max-width: 1024px) {
        height: 230px;
    }
    @media only screen and (max-width: 320px) {
        height: 144px;
        width: 50%;
    }
}
.work-card__title p{
    font-size: $fz-24;
    font-weight: $fw-black;
    color: $white-color;
    @media only screen and (max-width: 1024px) {
       font-size: $fz-18;
    }
}
.work-card__subtitle p{
    margin-top: 20.57px;
    font-size: $fz-18;
    font-weight: $fw-regular;
    color: $white-color;
    @media only screen and (max-width: 1024px) {
        font-size: $fz-14;
    }
}

